.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-left: -15px;
	margin-right: -15px;
}
	.column {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}
		.column-2 {
			width: 50%;
		}

#imp_info_taller .form-group {
	margin-bottom: 10px;
	margin-top: 10px;
}
	#imp_info_taller label {
		display: inline-block;
		font-size: 16px;
		margin-bottom: 5px;
	}
	#imp_info_taller input {
		padding: 10px;
		width: 100%;
	}

#logo-taller-wrapper img {
	height: auto;
	margin: auto;
	max-width: 100%;
}
	.media-btn-select {
		cursor: pointer;
		font-size: 16px;
		text-decoration: underline;
	}

.img-service-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 70px;
}
	.img-service-column img {
		height: auto;
		max-width: 100%;
	}

@media screen and (max-width: 768px) {
	.row .column {
		width: 100%;
	}
}